body{
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-colorido-desfocado-vivido_58702-2655.jpg");
    background-repeat: no repeat;
    background-position: right 0;
    background-color: black;
    background-size: cover;
}