*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 14px;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;    
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 44vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color)
    }
    .navbar.open{
        right: 2%;
    }
}

.container-slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider{
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}
#prev-button{
    transform: rotate(180deg);
}
.texto-eventos{
    text-align:left;
    padding-left: 80px;
}
main.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 32px;
}

main.cards section.card .icon{
    width: 64px;
    height: 64px;
}

main.cards section.card img{
    width: 100%;
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(6, 63, 44);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 456px;
    margin-left: 32px;
}

main.cards section.card:first-child{
    margin-left: 0;
}

main.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: white;
}
main.cards section.card.forza button{
    background: linear-gradient(to right, #681b1b, #e01414);
}
main.cards section.card.csgo button{
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.fifa button{
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}

main.cards section.card.forza{
    box-shadow: 20px 20px 50px -30px #dbc4ff;
}
main.cards section.card.csgo{
    box-shadow: 20px 20px 50px -30px #afd6ff;
}
main.cards section.card.fifa{
    box-shadow: 20px 20px 50px -30px #ffc1d5;
}

main.cards section.card h3{
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span{
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

.texto-eventos h2::after{ 
    content: '';
    display:block;
    width: 5rem;
    height: 0.3rem;
    background-color: purple;
    margin: 0 auto;
    position:absolute;
    border-radius: 10px;
}

@media screen and (max-width: 720px) {
    main.cards{
        flex-direction: column;
    }

    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child{
        margin-bottom: 0;
    }

    main.cards section.card button{
        font-size: 70%;
    }
}