* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
}

.logo{
    font-weight: 800;
    font-size: 25px;
}

.nav-itens{
    color: blue;
    list-style: none;
    display: flex;
}

.nav-itens>li{
    padding-left: 20px;
}

.nav-itens>li>a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.login{
    padding: 10px 40px;
    color: #202020;
    background-color: aliceblue;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.cadastro{
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    background-color: #202020;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s background;
    font-family: 'Poppins', sans-serif;
}

.cadastro:hover{
    background-color: #8f8989;
    transition: 1s background;
}