.banner {
    width: 90%;
    height: 600px;
    padding: 60px;
    margin: 0 auto;
    display: table;
    box-shadow: -1px -2px 5px 13px rgba(230, 225, 225, 0.75);
}

.banner img {
    width: 40%;
    height: 500px;
    float: right;
}
.banner .texto {
    margin-top: 50px;
    width: 50%;
    font-size: 22px;
}

@media screen and (max-width: 998px) {
    .banner { height: 480px; padding: 0px 20px; }
    .banner .texto { font-size: 24px; }
    .banner h1 { font-size: 28px; }
    .banner p { font-size: 14px; margin-top: 90px; }
    .banner img { width: 40%; height: 300px; margin-top: 90px; }
    .banner a { padding: 3px 10px; background-color: rgb(24, 24, 24); font-size: 12px; color: floralwhite; text-decoration: none; };
}